# DATABASE_URL="postgresql://postgres:root@localhost:5432/zoom"
DATABASE_URL="mysql://root@localhost:3306/zoom"

AWS_ACCESS_KEY_ID=your-access-key-id
AWS_SECRET_ACCESS_KEY=your-secret-access-key
AWS_REGION=your-aws-region
AWS_S3_BUCKET_NAME=your-bucket-name
